body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

/* INTRO */
#intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
}

.logo {
  width: 180px;
  margin-bottom: 30px;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background: #22c55e;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* APP */
#app {
  padding: 20px;
}

textarea {
  width: 60%;
  height: 80px;
  border-radius: 10px;
  padding: 10px;
}

.buttons {
  margin: 20px;
}

video {
  width: 300px;
  margin-top: 10px;
  border-radius: 10px;
}

canvas {
  margin-top: 30px;
}